@{
    ViewData["Title"] = "RV";
    ViewData["smallTitle"] = "vanyaraspopov@mail.ru";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["smallTitle"]</h3>

<p>Написал сюда свой текст, просто чтобы был.</p>


