@{
    ViewData["Title"] = "RV";
    ViewData["smallTitle"] = "vanyaraspopov@mail.ru";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["smallTitle"]</h3>

<p>Написал сюда свой текст, просто чтобы был.</p>

<div class="container">
    <div class="row">
        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#task1">Задание 1</a></li>
            <li><a data-toggle="tab" href="#task2">Задание 2</a></li>
            <li class="active"><a data-toggle="tab" href="#task3">Задание 3</a></li>
        </ul>

        <div class="tab-content">
            <div id="task1" class="tab-pane fade">
                <h3>Задание 1</h3>
                <p>
                    lorem
                </p>
            </div>
            <div id="task2" class="tab-pane fade">
                <h3>Задание 2</h3>
                <p>ipsum</p>
            </div>
            <div id="task3" class="tab-pane fade in active">
                <h3>Задание 3</h3>
                <p>
                    В мире есть много несвязанных между собой вещей, у которых есть автор. Например,
                    книги, картины, код.
                </p>
                <p>
                    Нужно реализовать итератор, который позволит в цикле foreach вывести элементы
                    коллекции, содержащей конкретные вещи одного любого типа, в странном порядке:
                    сначала вывести все вещи, у которых фамилия автора начинается на A, затем на Z, затем на
                    B, на Y и т.д. (A, A, A, A, Z, Z, Z, Z, Z, B, B, Y, Y, Y, Y, Y…), при этом в рамках одной буквы
                    имена авторов могут быть в произвольном порядке.
                </p>
            </div>
        </div>

    </div>
</div>
